@import '../../styles/mixins';

.about-us-feedback-page {
  #thanks,
  #help {
    min-height: 150px;
    min-width: 600px;
  }

  #finish-btn:hover {
    color: grey;
    background: linear-gradient(90deg, transparent, grey, transparent) no-repeat center;
    animation: fillbtnlin 1s ease-out both;
    @keyframes fillbtnlin {
      from {
        background-size: 1% 100%;
        color: grey;
      }
      to {
        background-size: 100% 100%;
        color: white;
      }
    }
  }

  .btn-enbl {
    animation: releasebtn 1s ease-out both;
  }

  @keyframes releasebtn {
    from {
      color: white;
      background: linear-gradient(90deg, transparent, grey, transparent) no-repeat center;
      background-size: 100% 100%;
    }
    to {
      color: grey;
      background: linear-gradient(90deg, transparent, grey, transparent) no-repeat center;
      background-size: 0% 100%;
    }
  }
}
